/* Code Viewer Page */
.code-viewer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 11;
    display: flex;
}

.files {
    background: #f3f3f3;
    flex-direction: column;
    width: 400px;
    padding: 15px 20px 0 0;
    box-shadow: inset;
}

.folder {
    display: flex;
    flex-direction: column;
    color: #2d527c;
    font-weight: bold;
    margin: 0 0 10px 10px;
    border-left: solid 1px #2d527c74;
    border-radius: 6px;
    gap: 4px;
    transition: all 0.1s ease;
}

.folder:hover:not(:has(.folder:hover)) {
    border-color: #234061;
}

.folder-img {
    width: 20px;
    height: 20px;
}

.folder-name {
    display: flex;
    background-color: #f3f3f3;
    padding-left: 8px;
    align-items: center;
    border-radius: 6px;
    gap: 4px;
}

.folder-name:hover {
    color: #f3f3f3;
    background-color: #2d527c74;
}

.folder-name.selected {
    color: black;
    background-color: #2d527c74;
}

.export-code {
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    cursor: default;
}

.file {
    border-radius: 4px;
    margin-left: 20px;
    padding-left: 4px;
}

.file:hover {
    cursor: pointer;
    color: #f3f3f3;
    background-color: #2d527c74;
}

.file.selected {
    color: #f3f3f3;
    background-color: #282c34;
}

.code {
    background-color: #282c34;
    max-height: 100%;
    overflow-y: auto;
    width: 100%
}

.close-code-viewer-button {
    position: absolute;
    left: 96%;
    top: 15px;
    width: 60px;
    height: 60px;
    z-index: 20;
    font-weight: bolder;
    font-size: 20px;
}