/* Code Viewer Page */
.code-viewer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 11;
    display: flex;
}

.files {
    background-color: rgba(128, 128, 128, 0.689);
    flex-direction: column;
    width: 400px;
    padding: 15px 30px;
}

.folder-name {
    display: block;
    background-color: rgba(47, 47, 48, 0.185);
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.folder-name:hover {
    background-color: rgba(47, 47, 48, 0.769);
}

.export-code {
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    cursor: default;
}

.file {
    margin-left: 20px;
}

.file:hover {
    cursor: pointer;
    background-color: #505868;
}

.file.selected {
    background-color: #282c34;
}

.code {
    background-color: #282c34;
    max-height: 100%;
    overflow-y: auto;
    width: 100%
}

.close-code-viewer-button {
    position: absolute;
    left: 96%;
    top: 15px;
    width: 60px;
    height: 60px;
    z-index: 20;
    font-weight: bolder;
    font-size: 20px;
}