/* Node Selector Panel */
.node-selector {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: #f9fafb;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.node-selector-title {
    display: none;
    text-align: center;
    margin-bottom: 10px
}

.nodes {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
    flex-wrap: wrap
}

.node {
    display: flex;
    flex-direction: row;
    width: 260px;
    height: 60px;
    background: #2e3440;
    border-radius: 16px;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.node:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.node-img {
    width: 75px;
    height: 50px;
}

.node-text {
    text-align: center;
}

/* Application Panel */
.application-container {
    display: flex;
    padding: 6px;
    gap: 20px;
    width: 500px;
    height: 60px;
    color: #d8dee9;
    font-size: 20px;
    font-weight: bold;
    border: #4b5563 2px solid;
    border-radius: 10px;
    background-color: #374151;
    align-items: center;
    justify-content: center;
}

.application-input {
    width: 60%;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 8px;
    border-radius: 4px;
}

/* Action buttons */
.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.action-div {
    position: relative;
}

.info-div {
    display: flex;
    visibility: hidden;
    transform: translateY(10px);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    left: 70px;
    height: 50px;
    padding-left: 20px;
    width: 140px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #2d527c;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
}

.info-div.hovered {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 85px;
    height: 80px;
    border-radius: 50%;
}

.action-button-img {
    width: 64px;
    height: 64px;
}