/* Confirmation Page */
.error {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 4px;
    border: 1px solid #f5c6cb;
    overflow: hidden;
    opacity: 1;
    max-height: 200px;
}

.confirmation {
    margin-top: 20px;
    padding: 15px;
    background-color: #d4edda;
    color: #155724;
    border-radius: 4px;
    border: 1px solid #c3e6cb;
    overflow: hidden;
    opacity: 1;
    max-height: 200px;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.850);
    z-index: 10;
}

/* XML View Page */
.xml-container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px 0 0 0;
    z-index: 15;
    width: 800px;
    max-height: 70%;
    overflow-y: auto;
    background: #2e3440;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

.xml-code {
    height: 450px;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.xml-footer {
    width: 100%;
    padding: 15px 0;
    position: sticky;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
}

.xml-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    margin: 0 auto;
    /* Center the buttons */
}

/* Export Code Page */
.export-window {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 50%;
    left: 50%;
    padding: 20px;
    z-index: 15;
    width: 800px;
    max-height: 600px;
    color: black;
    background: #f3f3f3;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.export-project-config {
    color: #6db33f;
    font-size: 24px;
    font-weight: bold;
}

.export-project-download {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.downloadable {
    display: flex;
    align-items: center;
    color: #2D527C;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    gap: 20px;
    border: solid 3px #2D527C;
    border-radius: 6px;
    transition: all 0.2s ease-in;
}

.downloadable:hover {
    cursor: pointer;
    background-color: #2d527c74;
    color: white;
}

.export-img {
    width: 64px;
    height: 64px;
}

/* Info Page */
.info-popup-container,
.input-validation-popup-container,
.history-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    z-index: 15;
    width: 800px;
    background: #f3f3f3;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.no-padding {
    padding: 0;
    width: 950px;
}

.info-container,
.history-container {
    overflow-y: auto;
    max-height: 500px;
}

.content-container {
    color: #2D527C;
    margin-bottom: 20px;
}

.input-validation-container {
    display: flex;
}

.fields-container {
    width: 100%;
    padding-bottom: 12px;
}

.overflow {
    max-height: 70vh;
    overflow-y: auto;
}

.fields-container > header {
    position: sticky;
    top: 0;
    font-size: 32px;
    font-weight: bold;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 4px;
    background-color: #2D527C;
}

.field-card {
    width: 95%;
    color: black;
    height: 75px;
    display: flex;
    margin: 10px 0 10px 2% ;
}

.field-card > p {
    width: 20%;
    display: flex;
    height: 100%;
    margin: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.input-group {
    width: 100%;
}

.input-group > input::placeholder {
    color: white;
}

.input-group > input:focus::placeholder {
  color: transparent;
}

/* For transition support (Optional) */
input::placeholder {
  transition: color 0.3s ease;
}

.string-card {
    display: block;
    width: 80%;
}

.upper {
    border: 1px solid black;
    display: flex;
    height: 50%;
}

.lower {
    border: 1px solid black;
    border-top: 0px;
    display: flex;
    height: 47%;
}

.lower > label {
    border-right: 1px solid black;
    flex-grow: 1;
}



.content-title {
    font-size: 24px;
    font-weight: bold;
}

.text {
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
}

.close-button {
    display: block;
    margin: 0 auto;
}

.close-validation {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 0 8px 0 0;
}

.history-content-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    color: #2D527C;
    background-color: #f3f3f3;
    border: #2D527C 2px solid;
    border-radius: 8px;
    height: 80px;
    margin: 10px;
    transition: all 0.3s ease;
}

.history-content-container:hover {
    color: #f3f3f3;
    background-color: #2D527C74;
    cursor: pointer;
}

.history-empty-container {
    display: flex;
    justify-content: center;
    color: #2D527C;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.history-app-name,
.history-date {
    height: 30px;
    margin: 5px 0 0 10px;
    width: 685px;
    font-size: 24px;
    font-weight: bold;
}

.history-del {
    background-color: #cc0000;
    border: 0px;
    border-radius: 0;
    padding: 0px;
    margin: 0 0 0 auto;
    width: 60px;
    height: 80px;
}

.history-del:hover {
    cursor: pointer;
}